@using CuyaCarMVCIsa.Controllers;
@using CuyaCarMVCIsa.Models;

<!---->

@{
    ViewBag.Title = "Coche";

}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!-- <h3>Coche: Model.matricula</h3>-->

@model CuyaCarMVCIsa.Models.Coche
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.marca)
    @Html.EditorFor(model => model.marca)
    <input type="submit" value="buscar" />
}


<form action="~/Model/Coche" method="post">
    <label for="Matricula">Matricula</label>
    <input id="Matricula" name="Matricula" type="text" value="">
    <input type="submit" value="buscar" />
</form>

<!-- <input id="Marca" type="text" /><br>-->

<p>Use this area to provide additional information.</p>